.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "NeueHaasDisplayLight";
  src: local("NeueHaasDisplayLight"),
    url("./../public/assets/fonts/NeueHaasDisplayLight.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaasDisplayMedium";
  src: local("NeueHaasDisplayMedium"),
    url("./../public/assets/fonts/NeueHaasDisplayMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Light";
  src: local("Inter-Light"),
    url("./../public/assets/fonts/Inter-Light.ttf") format("truetype");
}
